/* basic reset */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:inherit; /* border-box is moved to the body tag*/
}

/* anything related to default fonts, we should put it in the body selectotr */
html{
    font-size:62.5% ;
}
body{
    box-sizing: border-box;
}