/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* basic reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* anything related to default fonts, we should put it in the body selectotr */

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,#7ed56fd2,#28b485d3 ) ,url(../img/hero.jpg);
    background-size: cover;
    background-position: top; /*this makes the top behave like fixed */
    /* clip-path: polygon(0 0, 500px 100px, 100% 200px, 0 100%); */
    clip-path: polygon(50% 0, 100% 100%, 0 100%); /*this will make shape of triangle */


}